:root {
  --text-color-dark: rgb(11, 11, 12);
  --primary-color: rgb(70, 70, 96);
  --text-color-light: rgb(101, 101, 103);
  --text-color-extra-light: rgb(185, 185, 185);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  max-width: 1664px;
  height: auto;
  margin: auto;
  margin-top: 40px;
}

a {
  text-decoration: none;
}

.logo {
  width: 234px;
  height: auto;
  background: var(--primary-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin-right: 8px;
}

.logo a {
  text-transform: uppercase;
  font-family: Fjalla One;
  color: white;
  font-size: 2.25em;
  margin-top: 4px;
}

.back-btn {
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.2em;
  color: var(--primary-color);
  margin-left: 80px;
}

header h1 {
  font-family: Poppins;
  font-weight: 300;
  font-size: 2.25em;
  color: var(--text-color-dark);
}

/*PAGE CONTENT*/
.page-content {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.employer-details-container {
  float:left;
  box-shadow: 0px 6px 40px 5px rgba(0, 0, 0, 0.05);
  width: 250px;
  height: 400px;
  margin-left: 50px;
  margin-top: 5%;
}

.employer-details-title {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  background: var(--primary-color);
  color: #FFFFFF;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.employer-photo {
  display: block;
  margin: auto;
  margin-top: 40px;
  width: 143px;
  height: 114px;
  border-radius: 20px;
}

.employer-details {
  margin-top: 50px;
}

.employer-details-text {
  font-family: Poppins;
  font-size: 15px;
  font-weight: normal;
  margin-left: 15%;
  margin-top: 20px;
}

.ad-details-container {
  float:left;
  margin-top: 5%;
  overflow: hidden;
}

.first-container {
  float: left;
  height: 140px;
  margin-left: 50px;
}

.address-container {
  display: flex;
  align-items: center;
}

.address-logo {
  width: 44px;
  height: 50px;
}

.address-text-city {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #B9B9B9;
}

.address-text-street {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-left: 45px;
  color: #364958;
}

.second-container {
  float: left;
  height: 150px;
  margin-left: 180px;
  margin-top: 10px;
}

.application-deadline-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #828282;
}

.button-apply {
  text-align: center;
  border: 3px solid #464660;
  width: 200px;
  height: 60px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #464660;
  background-color: white;
  margin-top: 20px;
}

.ad-category {
  background-color: var(--primary-color);
  margin-top: 20px;
  margin-left: 25px;
  width: 150px;
  height: 28px;
  border-radius: 50px;
  text-align: center;
}

.ad-category-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.ad-description-container {
  margin-top: 170px;
  margin-left: 50px;
}

.ad-description-title {
  margin-left: 25px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #364958;
}

.ad-description-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  margin-left: 25px;
  margin-top: 10px;
}

.fee-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  margin-left: 25px;
  margin-top: 80px;
}

/* FOOTER */
footer {
  width: 100%;
  background: var(--primary-color);
  padding-top: 42px;
  padding-bottom: 24px;
}

.footer-info {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo {
  text-transform: uppercase;
  font-family: Fjalla One;
  color: white;
  font-size: 1.5em;
  border-bottom: 2px solid white;
  padding-bottom: 6px;
}

.footer-info-links {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.footer-info-links a {
  text-transform: capitalize;
  font-family: Poppins;
  color: white;
  font-size: 1em;
  font-weight: 700;
  margin-left: 20%;
}

.footer-social-privacy {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-social a {
  margin-right: 32px;
}

.footer-privacy {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.footer-privacy a {
  text-transform: capitalize;
  font-family: Poppins;
  color: var(--text-color-extra-light);
  font-size: 0.8em;
  font-weight: 300;
  margin-left: 10%;
  text-align: center;
}


@media screen and (max-width: 500px) {
  .footer-info {
    flex-direction: column;
  }

  .footer-social-privacy {
      flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .footer-logo {
    margin-bottom: 10px;
  }

  .footer-info-links {
    width: 90%;
    justify-content: space-between;
  }

  .footer-info-links a {
    margin-left: 0;
  }

  .footer-social a {
    margin-right: 0px;
    margin-bottom: 8px;
  }

  .footer-privacy {
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-privacy a {
    margin-top: 16px;
    margin-left: 0px;
  }
}
